<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Saito</title>

    <!-- styles -->
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.css" >
    <link rel="stylesheet" href="styles/font-awesome.css" >
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/pygment_trac.css">
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <body>
    <div id="footerHelper">
      {% include 'layouts/hero.twig' %}
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            {{ content }}
          <hr>
          </div>
        </div>
    </div>
    <div id="footerPush"></div>
   </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <small class="muted">
              Created with <a href="http://www.phrozn.info/">Phrozn</a>
            </small>
          </div>
        </div>
      </div>
    </footer>


    <!-- scripts -->
    <script src="scripts/scale.fix.js"></script>
    <!-- script src="scripts/lib/bootstrap/bootstrap.min.js"></script -->
    <script src="scripts/lib/jquery.tablesorter/jquery.tablesorter.min.js"></script>
    <script src="scripts/default.js"></script>
  </body>
</html>
