<div class="hero-unit row">
    <a href="https://github.com/Schlaefer/Saito"><img style="z-index: 5;position: absolute; top: 0; right: 0; border: 0; height: auto;" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" alt="Fork me on GitHub"></a>
  <div class="span2 offset1">
    <a href="http://saito.siezi.com/">
      <span style='float:left; padding-right: 20px; padding-top:10px; display:inline-block;'>
        <img src="media/img/logo.png" alt="logo" style="height: 75px;">
      </span>
    </a>
  </div>
  <div class="span9">
    <a href="http://saito.siezi.com/">
      <h1>Saito</h1>
      <p>The Threaded Web Forum</p>
    </a>
  </div>
</div>
